.section-about {
  background: #ccc;
  padding-bottom: 120px;
}

.container__about {
  display: flex;
  justify-content: space-between;
}

.about {

  &__left {
    width: 300px;
    margin-right: 30px;
  }

  &__right {
    margin-right: 73px;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__text {
    margin-bottom: 105px;
  }

  &__ps {
    font-style: italic;
  }
}