.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}
.logo{
  width: 47px;
  height: 26px;
  color: #0a0a0a;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 800;
  line-height: 30px;
}
