.menu{
  &__list{
    display:flex;
    justify-content: space-between;
  }
  &__item{
    color: #010101;
    font-size: 16px;
    font-weight: 400;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
}