.section-others {
  height: 100vh;
  min-height: 650px;
  &__title-btn{
    margin-top: 140px;
  }
}

arrow {
  &__left{
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    border: 2px solid #313131;
    background-color: transparent;
    color: #313131;
    padding: 5px 30px;
    border-radius: 25px;
    text-transform: lowercase;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  &__right{

  }
}